# General
.classpath
.project
.settings
*.bak
*.class
*.java~
*.log
*.tmp
*.txt~
*.war

# Eclipse
.metadata
*.checkstyle
*.dtd
*.history
*.metadata
*.properties
*.quality.properties
*.sequence
*.ser
*.session
*.settings
*.springBeans
*.sublime-project
*.sublime-workspace
*.svg
*.target
*.testResult
*.txt
*.userlibraries
*.usertasks
*.wtpmodules

# Maven
target/
*.lastUpdated
*.surefire-reports/

# Java EE IDE generated config files
*.asdprj
*.cnbprj
*.cr
*.dsa
*.dsm
*.dsp
*.dsv
*.gr
*.idm
*.iml
*.jml
*.ldt
*.ldtr
*.mod
*.mod
*.ndp
*.opt
*.org
*.pid
*.pr
*.pr
*.rdb
*.run
*.rsrc
*.rwb
*.wsr
*.wsr

# MacOS specific
.DS_Store
.Trashes
ehthumbs.db
Thumbs.db
